doctype html
html(lang="en")
  head
    title Dominion
  body
    h1 Dominion
    #status
      form(v-on='submit: connect')
        div(v-if='!socket')
          input(v-model='name')
          input(type='password' v-model='password')
        h4
          span(v-if='socket') Connected as {{ name }}
          button(
            type='submit'
            v-disabled='connecting'
          ) {{ !!socket ? 'Disconnect' : 'Connect' }}

      #games(v-if='socket')
        div(v-if='!myGame')
          button(v-on='click:newGame') New Game
          ul
            li(v-repeat='games')
              span {{ creatorName }} Game
              span  - {{ players.length }} / {{ maxPlayers }}
              span  - {{ status }}
              button(v-if='creatorName != name && status === "waiting"' v-on='click: join(creator)') Join
              button(v-if='players.length > 1 && status === "waiting" && creatorName === name' v-on='click: start(creator)') Start

    script(src='main.js')
